{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('user_bundle_app_profile_edit'), 'attr': { 'class': 'user_bundle_app_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary">{{ 'profile.edit.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
