{% extends 'base_layout.html.twig' %}

{% block body %}
    <section class="blog-masonry bg-muted">

        <div class="container">
            <div class="row">
                <div class="blog-masonry-container">

                    <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                        <div class="item-inner">
                            <a href="blog-single.html">
                                <img alt="Blog Preview" src="../public/assets/img/blog-masonry-1.jpg">
                            </a>
                            <div class="post-title">
                                <h2>Accounteer.</h2>
                                <p>
                                    We are for solving the financial task of SMEs and putting smile on our customers face
                                </p>
                                <div class="post-meta">
                                    <span class="sub alt-font">Posted on June 16th</span>
                                    <span class="sub alt-font">4 Minute Read</span>
                                </div>
                                <a href="blog-single.html" class="link-text">Read More</a>
                            </div>
                        </div>
                    </div><!--end of individual post-->
                </div><!--end of blog masonry container-->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="blog-masonry-container">

                    <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                        <div class="item-inner">
                            <a href="blog-single.html">
                                <img alt="Blog Preview" src="../public/assets/img/blog-masonry-1.jpg">
                            </a>
                            <div class="post-title">
                                <h2>Viva.</h2>
                                <p>
                                    We speak entertainment. We are entertainment. We bring entertainment to you.
                                </p>
                                <div class="post-meta">
                                    <span class="sub alt-font">Posted on June 16th</span>
                                    <span class="sub alt-font">4 Minute Read</span>
                                </div>
                                <a href="blog-single.html" class="link-text">Read More</a>
                            </div>
                        </div>
                    </div><!--end of individual post-->
                </div><!--end of blog masonry container-->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="blog-masonry-container">

                    <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                        <div class="item-inner">
                            <a href="blog-single.html">
                                <img alt="Blog Preview" src="../public/assets/img/blog-masonry-1.jpg">
                            </a>
                            <div class="post-title">
                                <h2>Accounteer.</h2>
                                <p>
                                    We are for solving the financial task of SMEs and putting smile on our customers face
                                </p>
                                <div class="post-meta">
                                    <span class="sub alt-font">Posted on June 16th</span>
                                    <span class="sub alt-font">4 Minute Read</span>
                                </div>
                                <a href="blog-single.html" class="link-text">Read More</a>
                            </div>
                        </div>
                    </div><!--end of individual post-->
                </div><!--end of blog masonry container-->
            </div>
        </div>

    </section>
{% endblock %}


